/* http://html.nhncorp.com/uio_factory/ui_pattern/list/2 */
.section_ul{position:relative;border:1px solid #ddd;background:#fff;font-size:12px;font-family:Tahoma, Geneva, sans-serif;line-height:normal;*zoom:1}
.section_ul a{color:#666;text-decoration:none}
.section_ul a:hover,
.section_ul a:active,
.section_ul a:focus{text-decoration:underline}
.section_ul em{font-style:normal}
.section_ul h2{margin:0;padding:10px 0 8px 10px;border-bottom:1px solid #ddd;font-size:12px;color:#333}
.section_ul h2 em{color:#cf3292}
.section_ul ul{margin:10px;padding:0;list-style:none} /* 요기 margin이랑 h2의 margin이랑 맞춰야 합니다 */
.section_ul li{position:relative;margin:0 0 3px 0}    /*줄간격은 요기서 margin을 바꾸면 됩니다 */
.section_ul li:after{display:block;clear:both;content:""}
.section_ul li .bu{float:left;margin:0 3px 0 0;color:#999}
.section_ul li a{float:left}
.section_ul li .time{float:right;clear:right;font-size:11px;color:#a8a8a8;white-space:nowrap}
.section_ul .more{position:absolute;top:10px;right:13px;font:11px Dotum, 돋움;text-decoration:none !important}
.section_ul .more span{margin:0 2px 0 0;font-size:16px;font-weight:bold;color:#d76ea9;vertical-align:middle}
